<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, target-densitydpi=device-dpi" />
		<meta name="msapplication-tap-highlight" content="no" />
		
		<title>Aplicación mobile</title>
			
		<script type="text/javascript" src="resources_mobile/hammer/hammer.min.js"></script>
		
		<script type="text/javascript" src="resources_mobile/angular/angular.min.js"></script>
	    <script type="text/javascript" src="resources_mobile/angular/angular-animate.min.js"></script>
	    <script type="text/javascript" src="resources_mobile/angular/angular-aria.min.js"></script>
		<script type="text/javascript" src="resources_mobile/angular_ui/js/angular-ui-router.min.js"></script>
		<script type="text/javascript" src="resources_mobile/angular_ui/js/angular-touch.min.js"></script>
		
	    <script type="text/javascript" src="resources_mobile/material/angular-material.min.js"></script>

		<script type="text/javascript" src="resources_extends/js/angular.js"></script>
		<script type="text/javascript" src="resources_extends/js/functions.js"></script>
		<script type="text/javascript" src="resources_extends/js/mobile.js"></script>
		
		<script type="text/javascript" src="resources_ceu/js/ceu.js"></script>
		
		<script type="text/javascript" src="app/app.js"></script>
	</head>
	
	
	<body ng-app="app" ng-controller="MainController as mc" layout="column" layout-fill>
		
		<!-- Toolbar de la aplicación -->
		<md-toolbar layout="row">
			<md-button ng-click="mc.toggleLeftMenu()" class="md-toolbar-tools" style="width:50px">
				<i class="fa fa-align-justify"></i>
			</md-button>
			<h1 class="md-toolbar-tools">{{mc.title}}</h1>
		</md-toolbar>
		    
		<!-- Contenido -->
		<md-content class="md-padding">
			<section layout="row" flex style="padding:5px;" layout-fill>
				<div ui-view class="app-content" layout-fill></div>
			</section>
		</md-content>

		<!-- Menu-->
		<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="menuLeft">
			<md-toolbar class="md-theme-light" layout="row">
				<h1 class="md-toolbar-tools">Menu</h1>
				<md-button ng-click="mc.toggleLeftMenu()" class="md-toolbar-tools" style="width:50px;">
					<i class="fa fa-times-circle"></i>
				</md-button>
			</md-toolbar>
			<md-content class="md-padding"  ng-switch on="mc.leftMenuSelected">
				<div ng-switch-default>
					Menu - index
				</div>
				<div ng-switch-when="page2">
					Menu - page 2
				</div>
			</md-content>
		</md-sidenav>

		<!-- Loading -->
		<div class="loading" ng-show="mc.showWaitWindow">Loading...</div>
		
		<!-- CSS adicionales -->
		<link rel="stylesheet" href="resources_mobile/font-awesome/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="resources_extends/css/loading.css">
		<link rel="stylesheet" href="resources_mobile/material/angular-material.min.css">
	    <link rel="stylesheet" href="resources/css/app.css" />
	</body>
</html>
