	
	<a href="#/page2">Goto page 2</a>
	
	<div layout="row" style="padding-top:20px">
		<div flex="50">
			<md-switch ng-model="data.cb1" aria-label="Switch 1" style="padding-top:10px">
			    Switch 1: {{ data.cb1 }}
			</md-switch>	
		</div>
		<div flex="50">
			<md-button class="md-fab" aria-label="Time" ng-click="mc.showWait()">
				<i class="fa fa-rocket"></i>
			</md-button>
		</div>
	</div>
	
	
    
	<form name="userForm">
		<md-input-container flex>
			<label>Name</label>
			<input>
		</md-input-container>
		<md-input-container flex>
			<label>Last name</label>
			<input>
		</md-input-container>
	</form>	 
	